<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1 ikaTranslate="reset.finish.title">Reset wachtwoord</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger" ikaTranslate="reset.finish.messages.keymissing">De reset sleutel ontbreekt.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span ikaTranslate="reset.finish.messages.info">Kies een nieuw wachtwoord</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span ikaTranslate="reset.finish.messages.error"
            >Uw wachtwoord kon niet gereset worden. Vergeet niet dat een wachtwoord verzoek slechts 24 uur geldig is.</span
          >
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span ikaTranslate="reset.finish.messages.success"><strong>Uw wachtwoord is gereset.</strong> Om in te loggen, klik </span>
          <a class="alert-link" routerLink="/login" ikaTranslate="global.messages.info.authenticated.link">aanmelden</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger" ikaTranslate="global.messages.error.dontmatch">
          Het wachtwoord en zijn bevestiging komen niet overeen!
        </div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword" ikaTranslate="global.form.newpassword.label">Nieuw wachtwoord</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="newPassword"
                data-cy="resetPassword"
                #newPassword
              />

              @if (
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              ) {
                <div>
                  @if (passwordForm.get('newPassword')?.errors?.required) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.required"
                      >Uw wachtwoord is vereist.</small
                    >
                  }

                  @if (passwordForm.get('newPassword')?.errors?.minlength) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.minlength"
                      >Uw wachtwoord moet minstens 4 tekens lang zijn.</small
                    >
                  }

                  @if (passwordForm.get('newPassword')?.errors?.maxlength) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.maxlength"
                      >Uw wachtwoord kan niet langer zijn dan 50 tekens.</small
                    >
                  }
                </div>
              }

              <ika-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></ika-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword" ikaTranslate="global.form.confirmpassword.label"
                >Nieuw wachtwoord bevestigen</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @if (
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              ) {
                <div>
                  @if (passwordForm.get('confirmPassword')?.errors?.required) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.required"
                      >Uw wachtwoord bevestiging is vereist.</small
                    >
                  }

                  @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.minlength"
                      >Uw wachtwoord bevestiging moet minstens 4 tekens lang zijn.</small
                    >
                  }

                  @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
                    <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.maxlength"
                      >Uw wachtwoord bevestiging kan niet langer zijn dan 50 tekens.</small
                    >
                  }
                </div>
              }
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn btn-primary"
              ikaTranslate="reset.finish.form.button"
              data-cy="submit"
            >
              Valideer nieuw wachtwoord
            </button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
