<div>
  <div class="d-flex justify-content-center">
    @if (account$ | async; as account) {
      <div class="col-md-8">
        <h2 ikaTranslate="password.title" [translateValues]="{ username: account.login }">
          Wachtwoord voor [<strong>{{ account.login }}</strong
          >]
        </h2>

        @if (success()) {
          <div class="alert alert-success" ikaTranslate="password.messages.success"><strong>Wachtwoord gewijzigd!</strong></div>
        }
        @if (error()) {
          <div class="alert alert-danger" ikaTranslate="password.messages.error">
            <strong>Er is een fout opgetreden!</strong> Het wachtwoord kan niet worden gewijzigd.
          </div>
        }
        @if (doNotMatch()) {
          <div class="alert alert-danger" ikaTranslate="global.messages.error.dontmatch">
            Het wachtwoord en zijn bevestiging komen niet overeen!
          </div>
        }

        <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="currentPassword" ikaTranslate="global.form.currentpassword.label">Current password</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />

            @if (
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            ) {
              <div>
                @if (passwordForm.get('currentPassword')?.errors?.required) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.required"
                    >Uw wachtwoord is vereist.</small
                  >
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="newPassword" ikaTranslate="global.form.newpassword.label">Nieuw wachtwoord</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName="newPassword"
              data-cy="newPassword"
            />

            @if (
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            ) {
              <div>
                @if (passwordForm.get('newPassword')?.errors?.required) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.required"
                    >Uw wachtwoord is vereist.</small
                  >
                }

                @if (passwordForm.get('newPassword')?.errors?.minlength) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.minlength"
                    >Uw wachtwoord moet minstens 4 tekens lang zijn.</small
                  >
                }

                @if (passwordForm.get('newPassword')?.errors?.maxlength) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.newpassword.maxlength"
                    >Uw wachtwoord kan niet langer zijn dan 50 tekens.</small
                  >
                }
              </div>
            }

            <ika-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></ika-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword" ikaTranslate="global.form.confirmpassword.label"
              >Nieuw wachtwoord bevestigen</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />

            @if (
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            ) {
              <div>
                @if (passwordForm.get('confirmPassword')?.errors?.required) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.required"
                    >Uw wachtwoord bevestiging is vereist.</small
                  >
                }

                @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.minlength"
                    >Uw wachtwoord bevestiging moet minstens 4 tekens lang zijn.</small
                  >
                }

                @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
                  <small class="form-text text-danger" ikaTranslate="global.messages.validate.confirmpassword.maxlength"
                    >Uw wachtwoord bevestiging kan niet langer zijn dan 50 tekens.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn btn-primary"
            ikaTranslate="password.form.button"
            data-cy="submit"
          >
            Opslaan
          </button>
        </form>
      </div>
    }
  </div>
</div>
