<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (authority) {
      <div>
        <h2 data-cy="authorityDetailsHeading"><span ikaTranslate="ikaDemoApp.adminAuthority.detail.title">Authority</span></h2>

        <hr />

        <ika-alert-error></ika-alert-error>

        <ika-alert></ika-alert>

        <dl class="row-md jh-entity-details">
          <dt><span ikaTranslate="ikaDemoApp.adminAuthority.name">Name</span></dt>
          <dd>
            <span>{{ authority.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ikaTranslate="entity.action.back">Terug</span>
        </button>
      </div>
    }
  </div>
</div>
