<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 ikaTranslate="activate.title">Activatie</h1>
      @if (success()) {
        <div class="alert alert-success">
          <span ikaTranslate="activate.messages.success"><strong>Uw gebuiker werd geactiveerd.</strong> Gelieve te </span>
          <a class="alert-link" routerLink="/login" ikaTranslate="global.messages.info.authenticated.link">aanmelden</a>.
        </div>
      }
      @if (error()) {
        <div class="alert alert-danger" ikaTranslate="activate.messages.error">
          <strong>Uw gebruiker kon niet geactiveerd worden.</strong> Gelieve het registratie formulier te gebruiken om zich in te schrijven.
        </div>
      }
    </div>
  </div>
</div>
