<div class='row'>
  <div class='col-md-3'>
    <span class='home img-fluid rounded'></span>
  </div>

  <div class='col-md-9'>
    <div class='callout' ikaTranslate='home.title'>Welcome to IKA Demo! </div>
    <p class='alert alert-warning col-md-9' ikaTranslate='home.subtitle'>Please note this is a demonstration and will require adjustments to align with the original <b>IKA</b> look and feel requirements.</p>

    <div class='app-details col-md-6'>
      <h5>Application</h5>
      <ul>
        <li>GroupId: <code>com.belastingdienst.ika</code></li>
        <li>ArtifactId: <code>ika-demo</code></li>
        <li>Version: <code>1.0.0-SNAPSHOT</code></li>
        <li>Quarkus Version: <code>3.8.2</code></li>
      </ul>
    </div>


<!--    <div>-->
<!--      @if (account() !== null) {-->
<!--      <div class="alert alert-success">-->
<!--        @if (account()) {-->
<!--      <span id='home-logged-message' ikaTranslate='home.logged.message'-->
<!--            [translateValues]='{ username: account()!.login }'-->
<!--      >U bent aangemeld als gebruiker &quot;{{ account()!.login }}&quot;.</span-->
<!--      >-->
<!--      }-->
<!--      </div>-->
<!--      } @else {-->
<!--      <div class="alert alert-warning">-->
<!--        <span ikaTranslate="global.messages.info.authenticated.prefix">Indien u wilt </span>-->
<!--        <a class="alert-link" (click)="login()" ikaTranslate="global.messages.info.authenticated.link">aanmelden</a-->
<!--        ><span ikaTranslate="global.messages.info.authenticated.suffix"-->
<!--          >, dan kan u de standaard gebruikers proberen:<br />- Administrator (login=&quot;admin&quot; en wachtwoord=&quot;admin&quot;)-->
<!--            <br />- Gebruiker (login=&quot;user&quot; en wachtwoord=&quot;user&quot;).</span-->
<!--          >-->
<!--        </div>-->

<!--        <div class="alert alert-warning">-->
<!--          <span ikaTranslate="global.messages.info.register.noaccount">U heeft nog geen gebruiker?</span>&nbsp;-->
<!--      <a class="alert-link" routerLink="/account/register" ikaTranslate="global.messages.info.register.link"-->
<!--        >Registreer een nieuwe gebruiker</a-->
<!--      >-->
<!--    </div>-->
<!--      }-->
<!--    </div>-->

    <h2>Technologies</h2>
    <ul class="tech-list col-md-9">
      <li><strong>HTML5</strong> - The standard markup language for documents designed to be displayed in a web browser.</li>
      <li><strong>CSS3</strong> - Used for styling and designing the web page layout.</li>
      <li><strong>TypeScript</strong> - Enables interactive web pages and is an essential part of web applications.</li>
      <li><strong>Quarkus</strong> - A Kubernetes Native Java framework tailored for GraalVM and HotSpot, crafted from the best of breed Java libraries and standards.</li>
      <li><strong>RestAssured & Cucumber</strong> - Acceptance/Functional tests are implemented using RestAssured and Cucumber to verify the REST API and the Acceptance criteria</li>
    </ul>
  </div>
</div>
